/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    background: rgb(255, 251, 247);
}

/* Navbar styles */
.navbar {
    background-color: crimson;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    height: 40px;
}

.navbar a {
    color: rgb(96, 14, 14);
    text-decoration: none;
}

.navbar a:hover {
    transform: scale(1.02);
}

.navbar-menu-container {
    display: flex;
    gap: 22px;
}

.navbar-menu-container .user-icon {
    background-color: crimson;   
      display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border: 2px solid rgb(163, 8, 8);
    border-radius: 50%;
}

/* Hero section styles */
.hero-section {
    background-image: 'C:\Users\vt0328\Desktop\FULL STACK PRACTICE/myhead.jpeg';
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: calc(400px - 40px);
}

.hero-section-logo {
    height: 116px;
   
}

.hero-section-heading {
    color: rgb(118, 9, 9);
    word-spacing: 3px;
    font-size: 30px;
    font-weight: 380;
}

.hero-section-container-input {
    background: rgb(232, 237, 237);
    border-color: firebrick;
    border-radius: 10px;
    width: 45%;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#location-icon,
#search-icon {
    color: rgb(239, 79, 95);
}

.hero-section-input-location,
.hero-section-input-search {
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
}

/* Cards section styles */
.container-cards {
    margin: 3rem auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.we-offer-cards {
    border-radius: 20px;
    overflow: hidden;
    width: 300px;
    transition: all 0.2s ease;
}

.we-offer-cards:hover {
    transform: scale(1.01);
    border: 1px solid grey;
    cursor: pointer;
    box-shadow: 0 0 15px 5px #A0A0A0;
}

.we-offer-cards img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    object-position: center;
}

.we-offer-cards-content {
    padding: 5px;
}

.we-offer-cards-content h2 {
    font-size: 20px;
    font-weight: 500;
}

.we-offer-cards-content p {
    font-size: 12.5px;
    font-weight: 400;
}

/* Collections section styles */
.container-collections {
    margin: 3rem auto;
    width: 90%;
}

.container-collections h1 {
    font-weight: 600;
}

.sub-heading-container {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.sub-heading-container span:nth-child(2) {
    color: rgb(239, 79, 95);
    font-size: 13px;
    cursor: pointer;
}

.sub-heading-container span[id=span]:hover {
    text-decoration: underline red;
    color: red;
}

.collections-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 2.5rem;
}

.cards {
    height: 300px;
    min-width: 240px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    position: relative;
    transition: all 0.2s ease;
}

.cards:hover {
    transform: scale(1.01);
    box-shadow: 0 0 15px 5px #A0A0A0;
    cursor: pointer;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(80, 80, 80, 0.8) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
    z-index: 5;
}

.collections-content {
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgb(187, 56, 56);
    
    padding-left: 8px;
    padding-bottom: 12px;
    font-size: 0.9rem;
    z-index: 6;
}

/* Get the App section styles */
.container-get-the-app {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 251, 247);
    width: 90%;
    margin: 3rem auto;
}

.semi-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    background: white;
}

.semi-container-left,
.semi-container-right {
    flex: 1;
}

.semi-container-left img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.semi-container-right h1 {
    font-size: 2rem;
    font-weight: 500;
}

.semi-container-right p {
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.radio-button-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.radio-button-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.radio-button-container div input {
    height: 15px;
    width: 15px;
    accent-color: rgb(239, 79, 95);
}

.input-container {
    display: flex;
    gap: 0.6rem;
    flex-wrap: wrap;
}

.input-container button,
.input-container input {
    padding: 10px 12px;
}

.input-container input {
    flex: auto;
    border: 1.5px solid gray;
    border-radius: 10px;
    outline: none;
}

.input-container button {
    border: none
